<%= form_tag :tasks, url: tasks_path do %>
    <div id="taskEntry">
        <%= text_field_tag(:description) %>
    </div>
    <%= submit_tag "Add", :class => "hidden" %>
<% end %>

<div class="task_list">
    <%= form_tag complete_tasks_path, :method => :patch do %>
        <ul class="open">
        <% @tasks.each do |task| %>
            <% taskId = "taskId" + task.id.to_s %>
            <li><%= check_box_tag 'task_ids[]', task.id, false, :id => taskId %> <%= label_tag taskId, task.description, :class => "input-helper input-helper--checkbox" %> <%= link_to 'X', task_path(task.id), :method => :delete %></li>
        <% end %>
        </ul>
        <%= submit_tag "Update" %>
    <% end %>

    <ul class="completed hidden">
        <% @completed_taks.each do |task| %>
            <li><%= link_to 'X', task_path(task.id), :method => :delete  %><%= task.description %></li>
        <% end %>
    </ul>
</div>
